In [1]:
import numpy as np
import pandas as pd

In [8]:
df = pd.DataFrame({

    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'San Francisco'],
    'Salary': [70000, 80000, 120000, 90000, 75000]
})
print(df)

      Name  Age           City  Salary
0    Alice   25       New York   70000
1      Bob   30    Los Angeles   80000
2  Charlie   35        Chicago  120000
3    David   40        Houston   90000
4      Eve   28  San Francisco   75000

In [16]:
print(df.filter(items=['Name', 'City']))
print(df.loc[df['Age'] >= 30])

      Name           City
0    Alice       New York
1      Bob    Los Angeles
2  Charlie        Chicago
3    David        Houston
4      Eve  San Francisco
      Name  Age         City  Salary
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago  120000
3    David   40      Houston   90000

In [24]:
df['Country'] = 'USA'

df.loc[len(df)] = ['Frank', 33, 'Seattle', 85000, 'USA']
print(df)

      Name  Age           City  Salary Country
0    Alice   25       New York   70000     USA
1      Bob   30    Los Angeles   80000     USA
2  Charlie   35        Chicago  120000     USA
3    David   40        Houston   90000     USA
4      Eve   28  San Francisco   75000     USA
5    Frank   33        Seattle   85000     USA

In [25]:
df.drop('Salary', axis=1, inplace=True)
df.drop(df.index[[3]], inplace=True)
print(df)

      Name  Age           City Country
0    Alice   25       New York     USA
1      Bob   30    Los Angeles     USA
2  Charlie   35        Chicago     USA
4      Eve   28  San Francisco     USA
5    Frank   33        Seattle     USA

- `Age`가 35 이상인 사람들의 `Salary`를 5% 증가시키세요.
- 'Alice'의 `City`를 'Boston'으로 수정하세요.

Age와 Salary의 데이터 타입을 float로 변환하세요.