### 아이템 기반 협업 필터링 (Item-based Collaborative Filtering)

- 특정 아이템과 유사한 다른 아이템을 찾아 추천하는 방식
- 사용자의 과거 행동 데이터를 바탕으로 각 아이템 간의 유사도를 계산하고, 이를 기반으로 추천 생성

**과정**
1. 아이템 간 유사도 계산
2. 사용자의 선호도 파악
3. 가중 평점 예측
4. 추천 제공

**장점**
- 사용자 수가 많아지더라도 유사도 계산에 소요되는 시간 비교적 적음
- 아이템의 특성을 고려하지 않으므로 특성 데이터가 부족하더라도 활용 가능

**단점**
- 아이템 간 유사도만 고려하므로 사용자의 선호 변화나 개인 취향 반영이 어려울 수 있음
- 충분한 기반 데이터가 없는 경우 정확한 유사도 계산이 어려움 (Cold Start)

In [53]:
import numpy as np
import pandas as pd

In [54]:
movies_df = pd.read_csv('./data/ml-latest-small/movies.csv')
ratings_df = pd.read_csv('./data/ml-latest-small/ratings.csv')
movies_df.shape, ratings_df.shape

((9742, 3), (100836, 4))

In [55]:
# movies_df.head()
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [56]:
movies_ratings_df = pd.merge(ratings_df, movies_df, on='movieId', how='inner')
print(movies_ratings_df.shape)
movies_ratings_df.head()

(100836, 6)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

##### 사용자 평점 기반 아이템(영화) 유사도 계산

In [57]:
users_movies_df = movies_ratings_df.pivot_table('rating', index='userId', columns='title', fill_value=0)
print(users_movies_df.shape)
users_movies_df.head()

(610, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
# 특정 사용자의 영화 평점 조회
users_movies_df.iloc[555].sort_values(ascending=False)[:30]

title
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)    5.0
How to Train Your Dragon (2010)                                                                   5.0
Guardians of the Galaxy (2014)                                                                    5.0
Aladdin (1992)                                                                                    5.0
Harry Potter and the Chamber of Secrets (2002)                                                    4.5
Harry Potter and the Deathly Hallows: Part 2 (2011)                                               4.5
Eragon (2006)                                                                                     4.5
Lord of the Rings: The Fellowship of the Ring, The (2001)                                         4.5
Harry Potter and the Prisoner of Azkaban (2004)                                                   4.0
Into the Woods (2014)                                                                             4.0
Hobbit: An Unexpected Journey, The (2012)                                                         4.0
Alice in Wonderland (2010)                                                                        4.0
John Carter (2012)                                                                                4.0
Avatar (2009)                                                                                     4.0
Jurassic World: Fallen Kingdom (2018)                                                             4.0
Harry Potter and the Goblet of Fire (2005)                                                        4.0
Golden Compass, The (2007)                                                                        4.0
Harry Potter and the Order of the Phoenix (2007)                                                  4.0
Lord of the Rings: The Return of the King, The (2003)                                             4.0
Lord of the Rings: The Two Towers, The (2002)                                                     4.0
Miss Peregrine's Home for Peculiar Children (2016)                                                4.0
Pan's Labyrinth (Laberinto del fauno, El) (2006)                                                  4.0
Pirates of the Caribbean: The Curse of the Black Pearl (2003)                                     4.0
Prince of Persia: The Sands of Time (2010)                                                        4.0
Sleepy Hollow (1999)                                                                              4.0
Underworld (2003)                                                                                 4.0
Warcraft (2016)                                                                                   4.0
Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)                            3.5
Harry Potter and the Half-Blood Prince (2009)                                                     3.5
Percy Jackson & the Olympians: The Lightning Thief (2010)                                         3.5
Name: 556, dtype: float64

In [59]:
# 사용자별 평점 개수
(users_movies_df != 0).sum(axis=1).describe()

count     610.000000
mean      165.298361
std       269.466692
min        20.000000
25%        35.000000
50%        70.500000
75%       168.000000
max      2698.000000
dtype: float64

In [60]:
from sklearn.metrics.pairwise import cosine_similarity

movies_sim = cosine_similarity(users_movies_df.T, users_movies_df.T)
movies_sim_df = pd.DataFrame(movies_sim, index=users_movies_df.columns, columns=users_movies_df.columns)

In [61]:
movies_sim_df["'Hellboy': The Seeds of Creation (2004)"].sort_values(ascending=False)[:10]

title
'Hellboy': The Seeds of Creation (2004)                       1.000000
Space Battleship Yamato (2010)                                1.000000
Monsters (2010)                                               1.000000
All the Right Moves (1983)                                    0.780869
Hidden Fortress, The (Kakushi-toride no san-akunin) (1958)    0.747409
...And Justice for All (1979)                                 0.715542
'Round Midnight (1986)                                        0.707107
Kagemusha (1980)                                              0.542720
Sanjuro (Tsubaki Sanjûrô) (1962)                              0.526685
Ghost Rider: Spirit of Vengeance (2012)                       0.525226
Name: 'Hellboy': The Seeds of Creation (2004), dtype: float64

##### 가중 평점 예측
1. 사용자별 아이템(영화) 평점이 있다. 
2. 평점 기반의 아이템(영화) 유사도가 있다.
3. 모든 사용자의 모든 아이템(영화)에 대한 가중평점 예측한다. 
4. 사용자별 영화 예측평점이 높은 순으로 영화를 추천한다. 
    - 사용자가 안 본 영화(평점이 없는, 0인 영화)를 추천한다. 

**Weighted Rating Sum**

사용자 $ u $의 아이템 $ i $에 대한 평점 예측은 사용자 $ u $가 아이템 $ i $와 유사한 다른 아이템들($ N $개의 다른 아이템)의 합으로 계산하며, 아이템들 간의 유사도를 반영한 합으로 계산

$
\hat{R}_{u,i} = \frac{\sum_{N} (S_{i,N} \times R_{u,N})}{\sum_{N} (|S_{i,N}|)}
$


- $\hat{R}_{u,i}$: 사용자 $ u $가 아이템 $ i $에 대해 가질 것으로 예측되는 평점
- $S_{i,N}$: 아이템 $ i $와 유사한 다른 아이템들의 유사도
- $R_{u,N}$: 사용자 $u$의 유사한 아이템들의 평점

**사용자 $ u $의 유사한 아이템 들의 평점**

| Item | j | k | **i** | m | n |
|------|---|---|---|---|---|
| Rating | 5 | 4 | **1** | 3 | 2 |

**유사도**

|   | (i,j) | (i,k) | (i,i) | (i,m) | (i,n) |
|---|-------|-------|-------|-------|-------|
| **R_{u,i}** | 0.2 | 0.1 | **0.4** | 0.1 | 0.2 |

**계산:** 위 두개의 행렬에 대한 내적을 구한다.

$
5 \times 0.2 + 4 \times 0.1 + 1 \times 0.4 + 3 \times 0.1 + 2 \times 0.2 = 2.5
$
<br>
<br>
$
\hat{R}_{u,i} = \frac{(5 \times 0.2) + (4 \times 0.1) + (1 \times 0.4) + (3 \times 0.1) + (2 \times 0.2)}{0.2 + 0.1 + 0.4 + 0.1 + 0.2}
= \frac{1 + 0.4 + 0.4 + 0.3 + 0.4}{1} = \frac{2.5}{1} = 2.5
$

결과적으로, 사용자 $ u $가 아이템 $ i $에 대해 가질 것으로 예측되는 평점은 **2.5**이이다.

- 전체 가중평점 예측

In [ ]:
def predict_ratings(user_movies_df, movies_sim_df):
    return user_movies_df.dot(movies_sim_df) / np.abs(movies_sim_df).sum(axis=1)

ratings_pred_df = predict_ratings(users_movies_df, movies_sim_df)
print(ratings_pred_df.shape)
ratings_pred_df.head(1).T

In [63]:
from sklearn.metrics import mean_squared_error

# 실제 평점과 예측 평점 오차 비교
def get_mse(actual, pred):
    non_zero_idx = actual.nonzero()
    # print(non_zero_idx) # ([row_idx, row_idx, ...], [col_idx, col_idx, ...])
    actual = actual[non_zero_idx]
    pred = pred[non_zero_idx]
    return mean_squared_error(actual, pred)

get_mse(users_movies_df.values, ratings_pred_df.values)

9.895354759094706

- 특정 사용자의 영화 하나 평점 예측

In [64]:
users_movies_df.iloc[176, 35]    # 176번째 사용자의 35번째 영화에 대한 평점

np.float64(5.0)

In [ ]:
topn_sim_idx = movies_sim_df.iloc[35].argsort()[::-1]
topn_sim_idx = topn_sim_idx[:20]
topn_sim_idx

In [66]:
users_movies_df.iloc[176, topn_sim_idx]

title
Very Potter Sequel, A (2010)                               5.0
Mr. Skeffington (1944)                                     5.0
Intolerance: Love's Struggle Throughout the Ages (1916)    3.5
Mildred Pierce (2011)                                      4.5
12 Angry Men (1997)                                        5.0
Princess and the Pirate, The (1944)                        4.0
Birth of a Nation, The (1915)                              2.0
Invisible Man Returns, The (1940)                          2.5
Thief of Bagdad, The (1924)                                3.5
Gold Diggers of 1935 (1935)                                3.5
The Blue Lagoon (1949)                                     3.0
Gold Diggers of 1933 (1933)                                3.5
Hunchback of Notre Dame, The (1923)                        3.0
Winchester '73 (1950)                                      4.0
The Great Train Robbery (1903)                             4.0
Snake Pit, The (1948)                                      4.0
To Be or Not to Be (1942)                                  4.0
Wuthering Heights (1939)                                   3.5
Destry Rides Again (1939)                                  4.0
Angels with Dirty Faces (1938)                             4.0
Name: 177, dtype: float64

In [67]:
# 사용자별 영화별 가중평점 예측
def predict_ratings_by_user_movie(user_idx, movie_idx, topn_sim_idx):
    topn_sim = movies_sim[movie_idx, :][topn_sim_idx]    # 영화별 평점유사도
    topn_rating = users_movies_df.values[user_idx, :][topn_sim_idx]    # 평점유사도 topn건에 대한 사용자 평점
    return topn_sim.dot(topn_rating) / np.abs(topn_sim).sum()

# 176번째 사용자의 35번째 영화에 대한 평점
topn_sim_idx = movies_sim_df.iloc[35].argsort()[:-(10 + 1):-1]
                            # 35번째 영화        # 유사도 상위 10개
predict_ratings_by_user_movie(176, 35, topn_sim_idx)

np.float64(3.85)

- 전체 가중평점 예측 - 영화별 사용자별 평점유사도 상위 top-n 건만 적용

In [68]:
def predict_ratings(topn=20):
    pred = np.zeros(users_movies_df.shape)    # (610, 9719)

    for movie_idx in range(pred.shape[1]):
        topn_sim_idx = movies_sim_df.iloc[movie_idx].argsort()[:-(topn + 1):-1]


        for user_idx in range(pred.shape[0]):
            pred[user_idx, movie_idx] = predict_ratings_by_user_movie(user_idx, movie_idx, topn_sim_idx)

    return pred
            
ratings_pred = predict_ratings(10)
ratings_pred.shape

(610, 9719)

In [69]:
print(ratings_pred[176, 35])

3.85

In [70]:
ratings_pred_df = pd.DataFrame(ratings_pred, index=users_movies_df.index, columns=users_movies_df.columns)
get_mse(users_movies_df.values, ratings_pred_df.values)

2.9201587326345124

In [ ]:
movies_df.iloc[(ratings_pred[170].argsort()[:-11:-1])]

- 사용자별 평가하지 않은 영화 조회

In [74]:
def get_unseen_movies(user_idx):
    user_ratings_df = users_movies_df.iloc[user_idx]
    return user_ratings_df[user_ratings_df == 0]

'Boogeyman (2005)' in get_unseen_movies(170).index

True

- 사용자별 영화 추천

In [75]:
def recommend_movies(user_idx, topn=10):
    unseen = get_unseen_movies(user_idx).index
    temp_movie = ratings_pred_df.loc[user_idx, unseen].sort_values(ascending=False)[:topn]
    user_rating_df = users_movies_df.loc[user_idx + 1, temp_movie.index]

    return pd.DataFrame({
        'title': temp_movie.index,
        'pred_rating': temp_movie.values,
        'user_rating': user_rating_df.values
    })

recommend_movies(343)

                                               title  pred_rating  user_rating
0                                  Fight Club (1999)     3.797075          0.0
1                          American History X (1998)     3.720248          0.0
2                            Schindler's List (1993)     3.424535          0.0
3                         Usual Suspects, The (1995)     3.196776          0.0
4  Lord of the Rings: The Fellowship of the Ring,...     3.173487          0.0
5      Lord of the Rings: The Two Towers, The (2002)     3.133889          0.0
6  Lord of the Rings: The Return of the King, The...     3.116551          0.0
7                              Godfather, The (1972)     3.090172          0.0
8                     Godfather: Part II, The (1974)     3.064263          0.0
9                                  Goodfellas (1990)     3.012420          0.0

In [76]:
users_movies_df.iloc[343 + 1].sort_values(ascending=False)[:10]

title
Affair to Remember, An (1957)                   5.0
'Salem's Lot (2004)                             5.0
'Til There Was You (1997)                       5.0
Adam's Rib (1949)                               5.0
All About Eve (1950)                            5.0
Waking Ned Devine (a.k.a. Waking Ned) (1998)    5.0
All That Jazz (1979)                            5.0
12 Angry Men (1957)                             5.0
Alien (1979)                                    5.0
Emma (1996)                                     5.0
Name: 345, dtype: float64