### pandas - series
- index(label)을 통해 처리 가능한 1차원 배열

In [1]:
import numpy as np
import pandas as pd

### series 생성

In [3]:
# 파이썬 list 활용
stocks = ['NVDA', 'MSFT', 'AAPL', 'GOOG', 'TSLA']
stocks_ser = pd.Series(stocks)
print(type(stocks_ser))
print(stocks_ser[0])

stocks_ser.name = '미국 주식'
print(stocks_ser)

<class 'pandas.core.series.Series'>
NVDA
0    NVDA
1    MSFT
2    AAPL
3    GOOG
4    TSLA
Name: 미국 주식, dtype: object

In [8]:
# ndarray 활용
nums_ser = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(nums_ser)
print(nums_ser[2], nums_ser['c'])
print(nums_ser.iloc[2], nums_ser.loc['c'])
# iloc(integer location): 인덱스를 통한 참조
# loc(location): 인덱스 라벨을 통한 참조

a   -1.513119
b    1.304381
c   -1.064370
d   -0.929753
e   -1.192137
dtype: float64
-1.0643697006811057 -1.0643697006811057
-1.0643697006811057 -1.0643697006811057

C:\Users\Playdata\AppData\Local\Temp\ipykernel_8140\1971901754.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(nums_ser[2], nums_ser['c'])

In [11]:
# dictionary 활용
info = {
    'a': 10,
    'b': 20,
    'c': 30
}
info_ser = pd.Series(info)
print(info_ser)

info_ser.index = ['A', 'B', 'C']
print(info_ser)

a    10
b    20
c    30
dtype: int64
A    10
B    20
C    30
dtype: int64

In [13]:
# scalar value 활용
num_ser = pd.Series(5.5)
num_ser = pd.Series(5.5, index=['a', 'b', 'c', 'd', 'e'])
print(num_ser)

a    5.5
b    5.5
c    5.5
d    5.5
e    5.5
dtype: float64

---
### series 속성

In [14]:
movies = ['하얼빈', '소방관', '서브스턴스', '페라리', '위키드']
movies_ser = pd.Series(movies)

In [18]:
print(movies_ser.values)

['하얼빈' '소방관' '서브스턴스' '페라리' '위키드']

In [19]:
print(movies_ser.array)

<NumpyExtensionArray>
['하얼빈', '소방관', '서브스턴스', '페라리', '위키드']
Length: 5, dtype: object

In [21]:
print(movies_ser.index) # 인덱스를 별도 지정하지 않은 경우 기본적으로 숫자 인덱스 반환

movies_ser.index = ['1st', '2nd', '3rd', '4th', '5th']
print(movies_ser.index) # 라벨을 지정한 경우 라벨 인덱스 반환

RangeIndex(start=0, stop=5, step=1)
Index(['1st', '2nd', '3rd', '4th', '5th'], dtype='object')

In [22]:
print(movies_ser.dtype)  # 요소의 자료형
print(movies_ser.shape)  # 형태
print(movies_ser.ndim)   # 깊이(차원)
print(movies_ser.size)   # 요소의 개수

object
(5,)
1
5

In [23]:
# 시리즈의 값이 모두 고유한 값인지 여부(True: 중복값 없음 / False: 중복값 있음)
movies_ser.is_unique

True

---
### series 메서드

In [24]:
nums_ser = pd.Series([2025, 1, 13, 10, 31])

In [25]:
print(nums_ser.sum())           # 누적 합(총합)
print(nums_ser.product())       # 누적 곱
print(nums_ser.mean())          # 평균

2080
8160750
416.0

In [27]:
print(nums_ser.head(2)) # 앞에서부터 일부 데이터 조회 (갯수를 지정해주지 않으면 기본값인 모두를 출력함)
print(nums_ser.tail(2)) # 뒤에서부터 일부 데이터 조회 (갯수를 지정해주지 않으면 기본값인 모두를 출력함)

0    2025
1       1
dtype: int64
3    10
4    31
dtype: int64

In [28]:
nums_ser.info()  # Series의 메타데이터 (not-null 여부 확인, 자료형 확인에서 자주 사용 됨)

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 172.0 bytes

In [29]:
nums_ser.describe()  # 데이터 분석/설명

count       5.000000
mean      416.000000
std       899.524319
min         1.000000
25%        10.000000
50%        13.000000
75%        31.000000
max      2025.000000
dtype: float64

In [32]:
print(nums_ser.iloc[1], nums_ser.loc[1])

num_ser.index = list('abcde')  # ['a', 'b', 'c', 'd', 'e']
print(num_ser.iloc[1], num_ser.loc['b'])

1 1
5.5 5.5

---
### SP500 데이터 활용

In [33]:
sp_500_df = pd.read_csv('./data/S_P500_Prices.csv')

In [35]:
type(sp_500_df)

# df.squeeze() : Dataframe의 Series가 하나인 경우 Series 객체 반환
sp_500_ser = sp_500_df.squeeze()
type(sp_500_ser)

pandas.core.series.Series

In [36]:
sp_500_ser.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2159 entries, 0 to 2158
Series name: sp500
Non-Null Count  Dtype
--------------  -----
2159 non-null   float64
dtypes: float64(1)
memory usage: 17.0 KB

In [37]:
sp_500_ser.describe()

count    2159.000000
mean     2218.749554
std       537.321727
min      1278.040039
25%      1847.984985
50%      2106.629883
75%      2705.810059
max      3386.149902
Name: sp500, dtype: float64

In [38]:
# 형태, 요소 개수, 깊이
print(sp_500_ser.shape)
print(sp_500_ser.ndim)
print(sp_500_ser.size)

(2159,)
1
2159

In [40]:
# 갯수, 최소값, 중위값, 최대값, 평균값, 표준편차값, 분산값
print(sp_500_ser.count())
print(sp_500_ser.min())
print(sp_500_ser.median())
print(sp_500_ser.max())
print(sp_500_ser.mean())
print(sp_500_ser.std())
print(sp_500_ser.var())

2159
1278.040039
2106.629883
3386.149902
2218.7495540592868
537.3217268874763
288714.6381853397

In [43]:
# 인덱스 번호로 인덱싱 및 슬라이싱 : 인덱스 50의 값 가져오기, 인덱스 100~200 값 가져오기
print(sp_500_ser[50])
print(sp_500_ser.iloc[50])

print(sp_500_ser[100:200])
print(sp_500_ser.iloc[100:200])

1416.51001
1416.51001
100    1315.130005
101    1314.989990
102    1325.660034
103    1308.930054
104    1324.180054
          ...
195    1433.189941
196    1433.819946
197    1413.109985
198    1408.750000
199    1412.969971
Name: sp500, Length: 100, dtype: float64
100    1315.130005
101    1314.989990
102    1325.660034
103    1308.930054
104    1324.180054
          ...
195    1433.189941
196    1433.819946
197    1413.109985
198    1408.750000
199    1412.969971
Name: sp500, Length: 100, dtype: float64

In [44]:
# fancy indexing 써보기
print(sp_500_ser[[1000, 2000]])

1000    2016.709961
2000    3223.379883
Name: sp500, dtype: float64

In [46]:
# boolean indexing 써보기
print(sp_500_ser.iloc[sp_500_ser.values > 3000])

1885    3013.770020
1886    3014.300049
1887    3004.040039
1892    3005.469971
1893    3019.560059
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 160, dtype: float64

In [54]:
print(3013.770020 in sp_500_ser.values) # 특정 값을 가지고 있는 지 여부

print(2000 in sp_500_ser) # .values를 안 붙이면 기본 값=인덱스값으로 찾음
print(2000 in sp_500_ser.index)

True
True
True

In [56]:
# 정렬
sp_500_ser = sp_500_ser.sort_values() # 오름차순 정렬
print(sp_500_ser)

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64

In [57]:
sp_500_ser.sort_values(ascending=False) # 내림차순 정렬

2037    3386.149902
2035    3380.159912
2033    3379.449951
2034    3373.939941
2038    3373.229980
           ...
2       1293.670044
1       1289.089966
99      1285.500000
98      1278.180054
97      1278.040039
Name: sp500, Length: 2159, dtype: float64